#ignore every a.out
a.out

#ignore every .o file
*.o

#ignore .vscode at root
/.vscode

#ignore executables
phonebook
bank_stuff
zombie_generator
zombieherde_coming
harl
harlFilter
fix
bsp
clapclap
scavenger
frago
dreaded_diamond
meowuu